<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCnJlNN5WyteD2AqD1aKq0mS1wAKl4mhp8"/>
    </application>
</manifest>
